$clouds: rgba(247, 249, 249, 1);
$orange: rgba(252, 74, 25, 1);
$ltBlue: rgba(102, 215, 209, 1);
$dkPurple: rgba(64, 61, 88, 1);
$pearGreen: rgba(211, 219, 65, 1);

.navbar-inverse {
  background-color: $dkPurple;
}
