@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Luckiest+Guy|Special+Elite";
body {
  font-family: "Special Elite", sans-serif;
  background-color: #66d7d1; }

h1, h2, h3, h4, h5 {
  font-family: "Luckiest Guy", cursive; }

h1 {
  color: #fc4a19; }

h2, h4 {
  color: #66d7d1;
  text-shadow: 2px 2px 4px #000; }

h3 {
  color: #fc4a19; }

h5 {
  font-family: "Special Elite", sans-serif;
  font-size: 175%;
  color: #403d58; }

a:link, a:visited, a:hover {
  color: white;
  text-decoration: none;
}

.avatar {
  width: 100px;
  height: auto; }

.btn-rad {
  font-family: "Special Elite", sans-serif;
  background-color: #fc4a19;
  color: #f7f9f9;
  border-radius: 200px;
  margin-right: 20px;
  font-size: 150%;
  padding-bottom: 5px; }

.btn-rad:hover,
.btn-rad:visited {
  color: #403d58; }

.btn-search {
  margin-right: 50px; }

.fa-star,
.fa-star-half-o {
  color: #fc4a19; }

label.control-label {
  color: #333; }

.form-group {
  margin-top: 15px; }

.form-horizontal {
  padding-left: 0; }

textarea.form-control,
input.form-control {
  font-size: 150%;
  font-family: "Special Elite", sans-serif; }

img {
  width: 100%; }

.list-group-item {
  font-size: 150%; }

.larger {
  font-size: 150%; }

.logo {
  width: 80%;
  height: auto;
  padding-bottom: 20px; }

.panel-blue {
  background-color: #66d7d1; }

.media-object {
  width: 100px;
  height: auto; }

.navbar-header > .navbar-brand {
  padding-right: 0; }

.navbar {
  height: 150px; }

.navbar-inverse {
  background-color: #403d58; }

.navbar-nav ul,
.navbar-right ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.navbar-nav li,
.navbar-right li {
  padding-top: 20px;
  display: inline-block;
  font-family: "Luckiest Guy", cursive; }
.navbar-nav li:hover,
.navbar-right li:hover {
  background-color: #d3db41;
  color: #403d58; }
.navbar-nav a,
.navbar-right a {
  color: #f7f9f9 !important;
  font-size: 150%; }
.navbar-nav a:hover,
.navbar-nav a:active,
.navbar-right a:hover,
.navbar-right a:active {
  color: #403d58 !important; }
.navbar-nav li.fa,
.navbar-right li.fa {
  margin-top: 5px;
  padding-right: 10px; }

.panel-green {
  background-color: #d3db41;
  padding: 10px; }

.thumbnail img {
  width: 200px;
  height: auto; }

#promoImg {
  width: 200px;
  height: auto; }

#reviews {
  text-align: center; }

#showImg {
  width: 100px;
  height: auto; }

#tabs {
  font-family: "Special Elite", sans-serif;
  font-size: 150%; }

a#ui-id-1.ui-tabs-anchor:hover,
a#ui-id-2.ui-tabs-anchor:hover,
a#ui-id-3.ui-tabs-anchor:hover {
  background-color: #d3db41; }

.rating {
  float: left; }

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0); }

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd; }

.rating:not(:checked) > label:before {
  content: '★ '; }

.rating > input:checked ~ label {
  color: #fc4a19; }

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #fc4a19; }

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #fc4a19; }

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px; }

/*# sourceMappingURL=style.css.map */
