@import 'https://fonts.googleapis.com/css?family=Luckiest+Guy|Special+Elite';

$bodyFont: 'Special Elite', sans-serif;
$headerFont: 'Luckiest Guy', cursive;

$clouds: rgba(247, 249, 249, 1);
$orange: rgba(252, 74, 25, 1);
$ltBlue: rgba(102, 215, 209, 1);
$dkPurple: rgba(64, 61, 88, 1);
$pearGreen: rgba(211, 219, 65, 1);

body {
  font-family: $bodyFont;
}

h1, h2, h3, h4, h5 {
  color: $orange;
  font-family: $headerFont;
}

.btn {
  background-color: $orange;
}

.btn-lg {
  padding: 10px 0 5px 0;
}

.btn-rad {
  background-color: $dkPurple;
  color: $clouds;
  border-radius: 200px;
  width: 20%;
  margin-right: 20px;
  font-size: 150%;
}

.btn-rad:hover,
.btn-rad:visited {
  color: $pearGreen;
}

.btn-search {
  margin-right: 100px;
  border-radius: 200px;
}

label {
  color: #333;
}
.form-group {
  margin-top: 15px;
  color: $clouds;
}

.form-horizontal {
  padding-left: 0;
}

.list-group-item {
  font-size: 150%;
}

.logo {
  height: auto;
  padding-bottom: 20px;
}

.navbar {
  height: 150px;
}
.navbar-inverse {
  background-color: $dkPurple;
}



.navbar-nav,
.navbar-right {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding-top: 20px;
    display: inline-block;
   }

   li:hover {
     background-color: $pearGreen;
     color: $dkPurple;
   }

  a {
    color: $clouds !important;
    font-size: 150%;
    }

  a:hover,
  a:active {
    color: $dkPurple !important;
    }

  li.fa {
    margin-top: 5px;
    padding-right: 10px;
  }

}
