<div ng-controller="ShowController">

  <div class="container">
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1"><h3>My Favorite Shows</h3></a></li>
        <li><a href="#tabs-2"><h3>Add a Review</h3></a></li>
        <li><a href="#tabs-3"><h3>Edit Profile</h3></a></li>
      </ul>
      <div id="tabs-1">
        <div class="row">
          <table class="table">
            <thead>
              <th>
                <h4>Show Title</h4>
              </th>
              <th>
                <h4>Next Episode</h4>
              </th>
              <th>
                <h4>Your Rating</h4>
              </th>
            </thead>
            <tbody>
              <tr>
                <td>Mr. Robot</td>
                <td>August 18, 2016</td>
                <td><i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div id="tabs-2">
      <div class="row">
        <img id="showImg" ng-src="{{view.showImg}}" alt="" />
        <h2 id='showTitle'>{{view.showTitle}}</h2>
          <form class="form-horizontal" action="post">
            <div class="col-sm-3">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Find a Show To Review" id="reviewShow" ng-model="view.title">
                <button type="button" class="btn btn-rad pull-right" id="searchForReview" ng-click="view.findShow()">Search</button>
              </div>

              <br><br><fieldset class="rating">
                <legend>Rate the Show</legend>
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
            </fieldset>

            </div>
            <div class="col-sm-9">
              <div class="form-group form-group-lg">
                <label class="col-sm-4 control-label" for="reviewTitle">Review Title</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" placeholder="The title of your review">
                </div><br><br>
                <label class="col-sm-4 control-label" for="reviewText">Your Review</label>
                <div class="col-sm-8">
                  <textarea name="reviewText" rows="4" class="form-control" placeholder="Your review here"></textarea>
                  <br>
                </div>
                <label class="col-sm-4 control-label" for="reviewTitle"> </label>
                <div class="col-sm-8">
                  <input type="checkbox" name="favShow" value="favShow">  Favorite this show
                </div>
                <div class="form-group">
                  <button type="button" name="submitReview" class="btn btn-rad pull-right">Submit Review</button>
                </div>
              </div>
            </div>
          </form>
      </div>
      </div>
      <div id="tabs-3">
        <div class="row">
          <div class="col-sm-4">
            <div class="thumbnail">
              <!-- TODO NEEDS NG-SRC ATTR -->
              <img src="http://vignette3.wikia.nocookie.net/powerpuff/images/1/16/Powerpuffgirls-buttercup_large.png/revision/latest?cb=20160110051139" alt="user profile picture">
              <div class="caption">
                <h4>{{user.userName}}</h4>
                <p>{{user.fullName}}</p>
                <p>{{user.email}}</p>

              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4 control-label" for="editName">Name</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" placeholder="Edit your name">
                </div><br><br>
                <label class="col-sm-4 control-label" for="editPW">Password</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" placeholder="Edit your password">
                </div><br><br>
                <label class="col-sm-4 control-label" for="editPic">Image URL</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" placeholder="Edit your profile picture">
                </div><br><br>
                <label class="col-sm-4 control-label" for="editEmail">Email</label>
                <div class="col-sm-8">
                  <input class="form-control" type="email" placeholder="Edit your email"><br>
                  <button type="submit" name="button" class="btn btn-rad pull-right">Submit Edits</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script>
    $( "#tabs" ).tabs();
  </script>
</div>
