<div ng-controller="UserController">

  <form novalidate class="user-form">
    Username: <input type="text" ng-model="user.username"> <br>
    Password: <input type="password" ng-model="user.password"> <br>
    Email: <input type="email" ng-model="user.email"> <br>
    Avatar: <input type="url" ng-model="user.avatar"> <br>
    City: <input type="text" ng-model="user.city"> <br>
    State: <input type="text" ng-model="user.state"> <br>
    <input type="submit" ng-click="NewUser(user)" value="Submit">
  </form>

</div>
